

.carte{
    margin: 10px ;
    height: 300px;
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

border-top: 4px solid #cc1616;
}

.carte:hover {


border-top: 6px solid #4297e6;

}





.image_projet {

    margin-top: 10px;
    height: 180px;
    width: 280px;
    background-color: rgb(220, 112, 112);
}


.image_projet > img{

    height: 100%;
    width: 100%;
   // background-color: rgb(220, 112, 112);
}

.nom_projet{

    text-transform: uppercase;
    color: black;
    margin-top: 5px;
  //  background-color: rgb(146, 57, 57);
height: 40px;
overflow: hidden;

}
.descriptio_projet{

    font-size: 14px;
 //   margin-right: 10px;
    margin-top: 2px;
    text-transform: lowercase;
    font-weight: 350;
    height: 60px;
    overflow: hidden;
    text-align: center;
 //  background-color: rgb(196, 126, 126);
  color: black;
}