

  :root {
    --primary-color:        #f13a11;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --about-bg-color:       #f9f9f9;

    --gray-color:           #909090;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Plain', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
  }


     //projet    
.projet-thumb{
  border-top: 4px solid #cc1616;
}


.projet-thumb:hover {
  border-top: 6px solid #4297e6;

  }
  .projet-info {
    background: var(--white-color);
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding : 5px;
    position: relative;
  }

  .projet-info img {
    border-radius: 2px 2px 0 0;
  }

  .projet-info strong {
    color: var(--gray-color);
  }

  .projet_title{
    color: var(--dark-color);
    font-size: 20px;
   // background-color: var(--dark-color);
    height: 30px  ;
    overflow: hidden;
    
  }
  .projet_detail{
    color: var(--dark-color);
    text-align: center;
    display: none;
  }

  h3 {
  //  background-color: rgb(214, 15, 15);
   
  }


